html{
  font-size: 20px;
}

body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

h1 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1.2en;
  text-shadow: 1px 1px 2px pink;
  border-bottom: solid 3px rgb(115, 115, 114)
}


h1{
  font-size: 2rem;
}

.skyblue{
  color: skyblue;
}

.pink{
  color: rgb(255, 192, 203) ;
}

#basic > p {
font-weight: bold;
}